{% extends "base.html" %}
{% load static %}
{% block content1 %}

<h3 class="exp_title">Python Trainee</h3>
<h5 class="company">Srishti Innovative</h5>
<div class="description">
<ol>
    <br>
    <li class="points">Developing and maintaining web applications from scratch using Django Framework,
        ensuring robust and scalable solutions.
    </li>
    <li class="points">
        Working on front-end Integration using HTML, CSS and JAVASCRIPT to create responsive
        and user-friendly interfaces.
    </li>
    <li class="points">
        Collaborated closely with cross-functional teams, including designers and back-end developers,
        to deliver high-quality features on time.
    </li>
    <li class="points">
        Optimized application performance by refining database queries and improving code efficiency.
    </li>
    <li class="points">
        Engaged in code reviews and debugging, contributing to the continuous improvement of the codebase.
    </li>
</ol>
</div>
<br>
<br>
<h3 class="exp_title">Junior Software Engineer (Internship)</h3>
<h5 class="company">Ingen Dynamics</h5>
<ol>
    <br>
    <li class="points">
        Developed and Simulated robots using Gazebo, Created realistic models and environments to test robotic functions
        and behaviors.
    </li>
    <li class="points">
        Worked extensively with Robot Operating System (ROS), implementing and debugging software for robot control, perception,
        and navigation.
    </li>
    <li class="points">
        Collaborated on feature design, conducted code reviews, participated in Agile Meetings, performed rigorous testing, and 
        pursuing continuous learning.
    </li>
    <li class="points">
        Conducted rigorous testing and validation of robotic systems, ensuring reliablity and performance in simulated environments.
    </li>
    <li class="points">
        Engaged in continuous learning and application of new technologies, contributing to the development of innovative robotic solutions.
    </li>
</ol>

{% endblock content1 %}